 :root{
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
 } 
  
  /* Базові/Головні */
*{
    box-sizing: border-box;
}

body{
    color: var(--color-primary-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

address{
    font-style: normal;
}

.visually-hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
 list-style-type: none;
}

.section{
    padding: 48px 0;
}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

    /* button */
.button{
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;

}

.button:hover{
    color: var(--color-brand-dark);
    background-color: transparent;
}
    /* link */
.link{
    color:var(--color-primary-light);
    text-decoration: none;
}

.link:hover{
    color: var(--color-brand-light);
}

/* Header */

.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
/* Hero sections */


.hero-section{
    padding: 272px 0;

}

.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent{
    color: var(--color-brand-light);
}
/* Advantages sections */
.advantages-section{
    padding: 16px 0;
    background-color: var(--color-brand-light);
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item{
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent{
    color: var(--color-brand-dark); 
}

/* Tradition sections */

.tradition-section{
    padding-top: 96px;
}

.traditions-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content{
    max-width: 710px;
}

.tradition-title{
    margin-bottom: 42px;
}

.tradition-text .brand{
    color: var(--color-brand-light);
    font-weight: 600;

}

.tradition-text .uppercase{ 
    text-transform: uppercase;
}

.tradition-text.limited{
    max-width: 340px;
}

/* Chef section*/

.chefs-title{
   margin-bottom: 80px;
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    
}

/* Formats section */

.formats-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);

}

.format-card{
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
}


.formats-title {
    margin-bottom: 80px;
}

.format-title{
    font-size: 24px;
    font-weight: 600;
}


.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Contact Section*/

.contact-title {
    margin-bottom: 16   px;
}

/* Footer */

.adress-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.adress-link:hover {
    color: var(--color-brand-light);
}

.address-copyrtigh {
    font-size: 14px;
    
}